{% extends "base.html" %}

{% block content %}
<div class="post_header">
    <h2><a href="../{{ post.id }}">{{ post.title }}</a></h2>
    <div class="posted">posted on {{ post.pub_date }}</div>
</div>
<div class="post_body">
    {{ post.content|safe }}
</div>
{% if comments %}
    {% for comment in comments %}
    <div class="comment_box">
        <div class = "comment_name">{{ comment.name }} said:</div>
        <div class = "comment_body">{{ comment.content }}</div>
    </div>
    {% endfor %}
{% else %}
    No Comments
{% endif %}

<form class="comment_form" action="comment/add/" method="post">
<b>Leave a comment:</b>
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Comment" />
</form>

{% endblock %}
