<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css" />
    <title>
    {% block title %}The Dlog - A Simple Blog Made With Django!{% block title %}
    </title>
</head>
<body id="body">
    <div id="title">
    {% block visualtitle %}
    This is a Blog!
    {% block visualtitle %}
    </div>
    
    <div id="menu">
    {% block menu %}
    <ul>
        <li><a href="/blog/index/">Home</a></li>
    </ul>
    {% endblock %}
    </div>
    
    {% block content %}
    {% endblock %}
    
</body>
</html>
